/* Reset some default styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    text-align: center;
}

/* Main container */
.login-container {
    max-width: 400px;
    margin: 50px auto;
    background-color: #007bff;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

/* Logo styling */
.logo img {
    width: 100px;
    margin-bottom: 20px;
}

/* Input fields */
input, select, textarea {
    width: calc(100% - 20px); /* Adjust width to include padding */
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-size: 16px;
    box-sizing: border-box; /* Include padding and border in width */
    display: block;
    text-align: right;
}

textarea {
    resize: none;
    height: 80px;
}

/* Buttons */
.btn {
    background-color: #6b4eff;
    color: #fff;
    padding: 10px;
    border: none;
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #573ed9;
}

/* Links */
.footer-text a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}

.footer-text a:hover {
    text-decoration: underline;
}

/* User type dropdown */
select {
    appearance: none;
    background-color: #fff;
    padding-right: 10px;
    cursor: pointer;
}

/* Hide company-specific fields initially */
#company-container {
    display: none;
    margin-top: 10px;
    padding: 15px;
    background: #f1f1f1;
    border-radius: 10px;
}

/* Labels styling */
#company-container label {
    display: block;
    text-align: right;
    font-size: 0.9em;
    color: #333;
    margin-bottom: 5px;
}

/* File input styling */
#record, #logo {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.is-invalid {
    border-color: red;
}

.invalid-feedback {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}


/* Responsive Design */
@media (max-width: 480px) {
    .login-container {
        width: 90%;
        padding: 15px;
    }
    input, select, textarea {
        font-size: 14px;
    }
    .btn {
        font-size: 16px;
    }
}
